<!DOCTYPE html>
<html ng-app="app">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Portal | {{$pageTitle}}</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <header ng-controller="MenuController">
        <h1 id="logo">
            LOGO
        </h1>
        <nav>
            <a ng-href="#/">Home</a>
            <a ng-href="#/projects">Projects</a>
            <a ng-href="#/tasks">Tasks</a>
            <a href="/Account/Login">SIGN UP</a>
        </nav>
    </header>
    <div>
        @RenderBody()
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/angular")
    @Scripts.Render("~/bundles/frontapp-init")
    @Scripts.Render("~/bundles/frontapp-service")
    @Scripts.Render("~/bundles/frontapp-controller")
    @RenderSection("scripts", required: false)
</body>
</html>
